.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(214, 206, 206), rgb(83, 81, 81) );
  min-width: 100vw;
  min-height: 100vh;
}

.div-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  width: 45%;
  height: 100%;
}

.form-login div {
  position: relative;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  color: #fff;
  gap: 5rem;
}

.div-form-titulo {
  font-size: 1.7rem;
}

.div-form-email,
.div-form-senha {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  gap: 1rem;
}

.form-login_input {
  border: 0.2rem solid rgb(138, 130, 130);
  border-radius: 0.5rem;
  width: 40rem;
  padding: 0.8rem;
  color: black;
  background-color: #fff;
}

.form-login_input:focus {
  border: 0.3rem solid rgb(102, 95, 95);
  box-shadow: 0.1rem 0.1rem 0.7rem black;
}

.form-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 107);
  color: #fff;
  font-size: 1.6rem;
  width: 40rem;
  padding: 1.5rem;
}

.div-form-cadastre_se {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  width: 40rem;
  gap: 2rem;
}

.div-form-cadastre_se span {
  color: rgb(14, 14, 100);
  cursor: pointer;
  text-decoration: underline;
}

.div-img {
  width: 50vw;
  height: 100vh;
  background-image: url('../../assets/imagem_login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.erroInput {
  border: 0.2rem solid rgb(216, 15, 15);
}

@media (max-width: 960px) {
  .div-form-login {
    padding-left: 0rem;
  }

  .div-img {
   display: none;
  }

  .div-form-cadastre_se {
    justify-content: left;
  }
}

@media (max-width: 480px) {
  .div-form-titulo h3{
    font-size: 1.5rem;
  }

  .form-login_input {
    width: 30rem;
  }

  .form-login button {
    width: 30rem;
  } 

  .div-form-cadastre_se {
    font-size: 1.5rem;
    width: 30rem;
    gap: 1rem;
  }
}