.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 24, 24);
  min-width: 100vw;
  min-height: 100vh;
}
.div-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  width: 45%;
  height: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  color: #fff;
  gap: 5rem;
}

.div-form-titulo {
  font-size: 1.7rem;
}

.div-form-email,
.div-form-senha {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  gap: 1rem;
}

.form-login input {
  all: unset;
  box-sizing: border-box;
  border: 0.2rem solid rgb(138, 130, 130);
  border-radius: 0.5rem;
  width: 40rem;
  padding: 0.8rem;
  background-color: #fff;
}

.form-login input:focus {
  border: 0.3rem solid rgb(102, 95, 95);
  box-shadow: 0.1rem 0.1rem 0.7rem black;
}

.form-login button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 107);
  color: #fff;
  font-size: 1.4rem;
  width: 40rem;
  padding: 1.5rem;
}
.div-form-cadastre_se {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  width: 40rem;
  gap: 2rem;
}


.div-img {
  width: 50vw;
  height: 100vh;
  background-image: url('../../assets/imagem_login.png');
  background-repeat: no-repeat;
  background-size: cover;
}