.container-cadastro_senha {
  display: flex;
  align-items: center;
  background-color: rgb(211, 24, 24);
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../assets/cadastro_senha.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-cadastro_senha-titulo {
  width: 50rem;
  font-size: 8rem;
  margin-left: 10rem;
  text-shadow: 0.1rem 0.1rem 2rem black;
  color: #fff;
}

.div-form-cadastro_senha {
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
}

.form-cadastro_senha div {
  position: relative;
}

.form-cadastro_senha {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: fixed;
  right: 20rem;
  background-color: #fff;
  border-radius: 0.7rem;
  width: 45rem;
  min-height: 50rem;
  max-height: 55rem;
  padding-bottom: 2rem;
  color: rgb(0, 0, 0);
  box-shadow: 0.2rem 0.2rem 4rem black;
  gap: 4rem;
}

.div-form-titulo {
  font-size: 1.7rem;
}

.div-form-senha {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  gap: 1rem;
}

.form-cadastro_senha_input {
  border: 0.2rem solid rgb(138, 130, 130);
  border-radius: 0.5rem;
  width: 40rem;
  padding: 0.8rem;
  background-color: #fff;
}

.form-cadastro_senha_input:focus {
  border: 0.22rem solid rgb(102, 95, 95);
  box-shadow: 0.1rem 0.1rem 0.7rem black;
}

.form-cadastro_senha button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 107);
  color: #fff;
  font-size: 1.4rem;
  width: 40rem;
  padding: 1.5rem;
}

.form-cadastro_senha button:focus {
  transform: scale(1.01);
  box-shadow: 0.1rem 0.1rem 0.3rem black;

}

.erroInput {
  border: 0.2rem solid rgb(216, 15, 15);
}

@media (max-width: 1200px) {

  .container-cadastro_senha {
    justify-content: center;
  }

  .container-cadastro_senha-titulo {
    display: none;
  }
  
  .form-cadastro_senha  {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
}

@media (max-width: 480px) {

  .form-cadastro_senha {
    position: fixed;
    width: 0rem;
    min-width: 100%;
    min-height: 100%;
  }

  .form-cadastro_senha_input,
  .form-cadastro_senha button  {
    width: 30rem;
  }

}