.div-food {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50rem;
  min-height: 100vh;
}

.div-food canvas{
  position: fixed;
  top: 40%;
}

.btn-add-produto {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 18px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  position: fixed;
  bottom: 10px;
  left: 25rem;
  background: rgb(204, 33, 33);
  color: #fff;
}
