header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  background-color:rgba(95, 7, 7, 0.5);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0,0.8);
  z-index: 1;
}

header img {
  width: 5rem;
  margin-left: 1rem;
}

.div-pesquisa {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  gap: 1rem;
 }
 
 .div-pesquisa input {
   border: 1px solid silver;
   border-radius: 0.5rem;
   background-color: #fff;
   padding: 0.8rem;
   color: #000;
   width: 55rem;
   margin-left: 10rem;
 }
 
 .lupa {
   position: absolute;
   right: 1rem;
   color: #000;
 }

 .div-nome_usuario {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 2rem;
   width: 15rem;
   color:  #e0d7d7;
 }

 .div-nome_usuario h2{
   padding: 0.5rem;
   background-color: #e0d7d7;
   color: rgba(0, 0, 0,0.7);
   font-size: 2rem;
   border-radius: 2rem;
 }