.backgorund_card_produto_modal {
    margin: 0rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #919a964d;
    font-family: 'Nunito', sans-serif;
    backdrop-filter: blur(0.2rem);
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
  
.card_produto_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10rem;
  width: 40rem;
  min-height: 50rem;
  max-height: 65rem;
  padding: 2rem 2rem;
  background: #FFFFFF;
  border-radius: 2rem;
  gap: 3rem;
}

.titulo_produto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  height: 4rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  color: #3F3F55;
  gap: 2rem;
}

#close {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 4rem;

}

.container_produto_input_nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: static;
  width: 36rem;
  height: 3.5rem;
  left: 0rem;
  top: 0rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3F3F55;
}

.produto_input_nome_cadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.2rem;
  position: static;
  width: 36rem;
  padding: 2rem 1.2rem;
  border: 0.1rem solid #D0D5DD;
  border-radius: 0.8rem;
}

.container_produto_input_descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: static;
  width: 36rem;
  left: 0rem;
  top: 0rem;
  margin-top: 1.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3F3F55;
}

.produto_input_descricao_cadastro {
  display: flex;
  align-items: center;
  width: 36rem;
  padding: 2rem 1rem 5rem;
  background: #FFFFFF;
  border: 0.1rem solid #D0D5DD;
  box-sizing: border-box;
  border-radius: 0.8rem;
}

.containers_produto_vencimento_valor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 36rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3F3F55;
}

.container_produto_input_vencimento,
.container_produto_input_valor {
  display: flex;
  flex-direction: column;
  width: 16.5rem;
}

.produto_input_valor_cadastro,
.produto_input_vencimento_cadastro {
  width: 16.5rem;
  height: 4.4rem;
  background: #FFFFFF;
  border: 0.1rem solid #D0D5DD;
  box-sizing: border-box;
  border-radius: 0.8rem;
  padding: 1rem 1.2rem;
}

.produto_input_valor_cadastro {
  padding: 1rem 3rem;
}

.simbolo-dinheiro {
  position: absolute;
  top: 1.9rem;
  right: 14rem;
  font-size: 1.4rem;
  color: #3F3F55;
}

.container_produto_buttons_confirmar {
  display: flex;
  align-items: center;
  width: 36rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 3rem;
}

.produto_button_cancelar,
.produto_button_confirmar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.5rem;
  padding: 0.3rem;
  left: calc(50% - 230.5px/2 + 127.75px);
  top: 0%;
  bottom: 0%;
  border: 0.1rem solid #DEDEE9;
  box-sizing: border-box;
  border-radius: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.5rem;
  cursor: pointer;
}

.produto_button_cancelar {
  background: #dddde2;
  color: #0E8750;
}

.produto_button_confirmar {
  background: #da1001;
  color: #FFFFFF;
}

.card_produto_modal label,
.card_produto_modal button,
.card_produto_modal span,
.card_produto_modal input {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.card_produto_modal button {
  z-index: 1;
}

.border-red {
  border: 0.1rem solid red;
}

.msg-input {
  margin: 0rem;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #E70000;
}

.div-erro-quantidade-valor {
  display: flex;
  justify-content: space-between;
  width: 36rem;
  gap: 2.5rem;
}

.div-erro-quantidade-valor p {
  font-size: 1.07rem;
  font-weight: bold;
  margin-top: 0;
}

.flex {
  display: flex;
}